/* ex1 */

.ex1 {
    transition: background-color 2s;
}

.ex1:hover {
    background: red;
}

/* ex2 */

.ex2 {
    transition: 2s;
}

.ex2:active {
    width: 100%;
}

/* ex3 */

.ex3 {
    transition: 1s;
}

.ex3:hover {
    border-radius: 50%;
}

/* ex4 */

.ex4 {
    transition: 2s;
}

.ex4:hover {
    opacity: 0;
}

/* ex5 */

.ex5 {
    transition: 1s ease;
}

.ex5:hover {
    width: 100px;
    height: 100px;
    margin: 0px;
}

.ex5:active {
    width: 10px;
    height: 10px;
    margin: 45px;
}

/* ex6 */

.ex6:hover {
    filter: grayscale(1);
}

/* ex7 */

.ex7 {
    transition: 1s;
}

.ex7:hover {
    filter: grayscale(1);
}

/* ex 8 */

@keyframes animation {
    0% {

    }
  
    50% {
        filter: blur(1px) grayscale(0.4);
        border-radius: 10px; 
    }
  
    100% {
        filter: grayscale(0.4);
    }
}

.ex8:hover {
    animation: animation 2s;
    filter: grayscale(0.4);
}

/* ex 9 */

.ex9 {
    transition: 2s;
}

.ex9:hover {
    margin: 0px;
    width: 600px;
    border-radius: 20px;
    filter: grayscale(1);
}

/* ex10 */

.ex10 {
    animation: ring-inf 2s linear infinite;
}

@keyframes ring-inf {
    0% {
      transform: rotate(0deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
}

/* ex11 */

.ex11:hover {
    animation: ring-partial 1s linear;
}

@keyframes ring-partial {
    0% {
      transform: rotate(0deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* ex12 */

.ex12:hover .ex-12-top-white {
    animation: moveTopOnRow 3s linear;
}

@keyframes moveTopOnRow {
    0% {
        left: 10%;
    }

    50% {
        left: calc(100% - 60px);
    }

    100% {
        left: 10%;
    }
}

.ex12:hover .ex-12-bottom-white { 
    animation: moveBottomOnRow 3s linear;
}

@keyframes moveBottomOnRow {
    0% {
        right: 20%;
    }

    50% {
        right: calc(100% - 60px);
    }

    100% {
        right: 20%;
    }
}

/* ex 13 */

.ex13:hover .ex-13-top-white {
    animation: moveTop 4s linear;
}

@keyframes moveTop {
    0% {
        top: -10px;
        left: 20%;
    }

    30% {
        left: calc(100% - 40px);
        top: -10px;
    }

    45% {
        left: calc(100% - 40px);
        top: 100%;
    }

    75% {
        left: 0;
        top: 100%;
    }

    90% {
        left: -15px;
        top: -10px;
    }

    100% {
        top: -10px;
        left: 20%;
    }
}

.ex13:hover .ex-13-bottom-white { 
    animation: moveBottom 4s linear;
}

@keyframes moveBottom {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 40px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 40px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}